@import '../../assets/style/media-queries.scss';

main {
  width: 100%;
  margin: auto;
  @include phone {
    width: 100%;
    padding-bottom: 85px;
  }
.container-banner {
    display: flex;
    margin-left: 20px;
    position: relative;
    width: 90%;
    margin-top: 50px;
    height: 111px; 
    border-radius: 15px;  
    overflow: hidden;
    @include desktop {
      height: 223px;
      width: 100%;
    }

    @include largeDesktop {
      height: 223px;
      width: 100%;
    }
 
    .banner--image {
      width: 100%;
      height: 111px;  
      object-fit: cover;  
      filter: brightness(50%);  
      border-radius: 10px;
      //margin-left: 22px;
      @include desktop {
        height: 223px;
        width: 100%;
      }
  
      @include largeDesktop {
        height: 223px;
        width: 100%;
      }
    }
    @include desktop {
      height: 223px;
      width: 100%;
    }

    @include largeDesktop {
      height: 223px;
      width: 100%;
    }
   
  }
  
  .discoverer-section {
    display: flex;
    flex-direction: column;
   justify-content: center;
    width: 100%;
    //margin-left: 15px;
    @include desktop {
      
      width: 100%;
    }

    @include largeDesktop {
     
      width: 100%;
    }
  }
}
  